courseservice/src/main/java/com/csye6225/fall2018/courseservice/StepFunction.json
{
  "StartAt": "IsNewCourse",
  "States": {
    "IsNewCourse": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.boardId",
              "StringEquals": ""
            },
            {
              "Variable": "$.length",
              "NumericEquals": 0
            },
            {
              "Variable": "$.notificationTopic",
              "StringEquals": ""
            }
          ],
          "Next": "IsSeminar"
        }
      ],
      "Default": "Abort"
    },
    "IsSeminar": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.department",
            "StringEquals": "Seminars"
          },
          "Next": "CreateRegistrar"
        }
      ],
      "Default": "Abort"
    },
    "CreateRegistrar": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:755355487827:function:CreateRegistrar",
      "Next": "CreateBoard"
    },
    "CreateBoard": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:755355487827:function:CreateBoard",
      "End": true
    },
    "Abort": {
      "Type": "Fail",
      "Error": "DefaultStateError",
      "Cause": "No Matches!"
    }
  }
}